<p class="lead">Your word, "<strong><%= @word %></strong>", was found <strong><%= @frequency %></strong> time<% if(!@frequency.==(1)) %>s<% end %> in the sentence:</p>
<p class="lead">"<%= @sentence %>"</p>

<form action="/">
  <button type="submit" class="btn-success">Search again!</button>
</form>
