<div class="col-md-8">
  <p class="lead">Find a word's frequency by entering the word you would like to search for, and the text in which you want to search for the word.</p>
  <form action="/frequency">
    <div class="form-group">
      <label for="word">Word</label>
      <input id="word" name="word" class="form-control" type="text" placeholder="Word to search for">
      <label for="sentence">Text</label>
      <textarea id="sentence" name="sentence" class="form-control" type="text" rows="4" placeholder="Text to search within"></textarea>
    </div>
    <button type="submit" class="btn-success">Search</button>
  </form>
</div>
