<p class="lead">Find a word's frequencey by entering the word you would like to search for, and the text in which you want to search for the word.</p>

<form action="/frequency">
  <div class="form-group">
    <label for="word">Word to search for</label>
    <input id="word" name="word" class="form-control" type="text">
    <label for="sentence">Text to search within</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Search</button>
</form>
